## MAC files ##
.DS_Store

## NPM ##
npm
npm-debug.log
node_modules/

## Webpack stuff
config.js
client/public/bundle.js
client/public/bundle.js.br
client/public/bundle.js.gz
package-lock.json
data/out.csv
